body {
  margin:0em;
  /* make everything 3em */
}
.App {
  text-align: center;
}

.titles {
  font-family: "Poppins";
  color: #82290f;
}

.subtitles {
  font-family: "Poppins";
  color: #000000;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}





.navbar {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vw;
  background-color: white;
  text-decoration: none;
  padding: 2em 0 2em 0;
  
}

.navbar a{
  color: rgb(0, 0, 0);
}
.navbar a:hover {
  color:#B9BF04;
}

/* .navbar a:visited{
  color: orange;
} */

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  margin: 0 5%;
  padding-bottom: 1em;
  cursor: default;

  /* border-bottom: 2px solid rgb(201, 195, 195); */
  

}

 .products:a:active {
  cursor: pointer;
  color:purple;

} 

img {
  width:100%;
  max-width: 600px;
  background-color: white;
  border-radius: 2em;
  /* min-width: 10em; */
  
}

.logo {
  max-width:8em;
  width:100%;
  height: auto;
  
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  margin: 0 5%;
  padding-bottom: 1em;
  text-align:center;
}

footer h2, h3 {
  font-family: "Poppins";
  color: #82290f;

}

.singleRecipe {
  border: 2px solid rgb(201, 195, 195);
  padding: 2em;
  border-radius: 25px;
  border-width: 0;
  text-align:left;
  background-color: rgb(249, 245, 240);
}

.singleRecipe h2,a {
 
  font-size: 16px;
  text-decoration: none ;
  font-family: "Poppins-light";
}

.singleRecipe h1 {
 
  font-size: 20px;
  text-decoration: none ;
  font-family: "Poppins";
  color: #82290f;
}

.singleRecipe h3 {
 
  font-size: 14px;
  text-decoration: none ;
}

.mainDivs {
   display: grid; 
   grid-template-columns: repeat(2, 1fr);
   padding: 2em 0 2em 0; 
}

.mainDivs h2 {
  font-family: "Poppins";
  color: #82290f;
}

.contactForm {
  font-family: "Poppins";
  background-color: white;
  color:#82290f,
}

.contactForm h1{
  color:  #82290f;
}

.stores {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.products_sublist {
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 2em 2em 0;
}

.productListing{
  padding: 1em;
}

.instructionsInfo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2em;
  font-family: "Poppins";
  margin: 3em;
}

.instructionsContainer h1 {
  font-family: "Poppins";
  color: #82290f;
}

.instructionsInfo p {
  min-height: 100px;
  margin:1em;
  padding: 1em;
  font-family: "Poppins-light";
}

.secret_page{
  padding: 1em;
  font-family: "Poppins-light";
}

.secret_page h1{
  color: #82290f;
}

.foodTitle{
  background-image: url("./components/images/FoodBackground3.jpg");
  min-height: 800px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  font-family: "Poppins";
 
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  /* color: rgb(209, 66, 126); */
  max-width: 400px;

}
.hero-text h1 {
    background: #B9BF04;  
}

.pantry {
  border-radius: 2em;
  text-align:left
}

.inputField {
  /* display: inline-flex; */
  display:grid;
  grid-template-columns: 4fr 1.2fr;
  height:1fr;

}

.ingredient-row {
  /* display: inline; */
  border-bottom: 1px solid rgb(201, 195, 195);
  padding-bottom: 2px;
  margin-right: 5em;
}

.ingredientsTab {
  text-align:left;
  padding-left: 5em;
  margin-right: 1em;
}

.ingredientsImages{
  border-radius: 50%;
  width:4em;
}

.pricedImages {
  width: 4em;
  border-radius: .5em;
  padding: .5em;
}

.checkoutImage {
  max-width: 300px;
}

.icons {
  color: rgb(208 144 27);
  cursor: pointer;

}

.icons:hover {
  color:#B9BF04;

}



.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color:orange;
  border-radius:2em;
}


.container:hover .overlay {
  opacity: .70;
  
}

.saveRecipe {
  width: 85%;
  margin-top: .5em;
  position: relative;
  /* top: 70%; */
  /* left:   20%;  */
  background-color:white;
  text-align: center;
  align-items: center;
  border-radius:15%;
  padding: 1em;
}

.iconDiv {
  color: black;
   position: absolute;
  top: 50%;
  left: 50%; 
   transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; 
}

.iconDiv:hover {
  color: rgb(237, 3, 3);
  opacity: 1;

}

.form_container {
    padding: 2em;
    text-align:left;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 4em;
    width: 45%;
    font-family: "Poppins";

}

.renderSeller {
    margin-top: 1em;
    background: #B9BF04;
    border-radius: 2em;
    padding: 2em;
    margin-bottom: 2em;
    margin-right: 1em;
    min-width: 150px;
}

.mainRows {
  display: inline;
}

.pantrySubmit{
  margin: 2em 0;
  display: grid;
    grid-template-columns: 4fr 1.2fr;
}

.pricingContainer {
  margin-top: 1em;
  background: #F2B705;
  padding: 2em;
  border-radius: 2em;
}

.finalPrices {
  margin-top: 2em;
  background: rgb(255 255 255);
  padding: 2em;
  border-radius: 2em;
}

.pricesContainer {
  border-radius: 0em;
    border-color: yellow;
    border-bottom: solid;
    border-width: 1px;
    padding: 1em;
    margin-top: 1em;
}

.buttonGroup{
  padding: 1em 0;
}

.MainSavedPantries {
  margin: 0 2em;
}

.MainSavedPantries h1 h2 {
 font-family: "Poppins";
 color: #82290f;

}
.savedPantries {
  background-color: #fff9c5;
  border-radius: 2em;
  padding: 1em;
  margin: 1em;

}

.myPantries {
  
    margin: 2em 0;
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
  }

  .savedPantryList {
    text-align: left;
    margin-left: 1em;
  }

  .mainSavedRecipes {
    gap: 1em;
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    margin: 0 3em;

  }

  /* STRIPE DEFAULT */
  .product_container {
    width: 40%;
    border: 1px solid rgb(251, 51, 118);
    display: flex;
    flex-direction: column;
    border-radius: 25%;
    padding: 1em;
  }
  
  .image_container {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .text_container {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .checkout_container {
    width: 70%;
    margin-left: 15%;
    display: grid;
    grid-template-rows: 10% 70% 20%;
    margin-bottom: 3em;
    font-family: "Poppins-light";
  }

  .checkoutFooter {
    margin-bottom: 3em;
  }

  .products_list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .error{
    color: red;
    font-weight: bold;
  }


  @media all and (max-width: 900px){
  .checkout_container {
    grid-template-rows: 5% 60% 20%;
  }
}
  @media all and (max-width: 800px){
    .mainSavedRecipes, .myPantries, .products, .mainDivs, .instructionsInfo  {
        grid-template-columns: 1fr;
    }

    .pantry {
      margin-left: 5em;
    }

    .navbar {
      padding: 2em 0 3em 0;
    }

    .product_container {
      width: 60%;
    }

  }

  @media all and (max-width:450px) {
    .checkout_container {
      grid-template-rows: 10% 50% 20%;
    }
    footer h2, h3 {
      font-size: 1em;
    }

    h1 {
      font-size:1.2em
    }

    .navbar a {
      font-size: .6em
    }

    .ingredientsTab {
      width: 450px
    }

    .buttonGroup {
      width: 400px;
    }

    .products {
      margin-left:5em;
    }

    .singleRecipe {
      min-width: 350px;
    }
  }